@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@mixin linear {
    background: linear-gradient(139.35deg, #273A97 -3.05%, #2E46BE 53.21%);
}
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #0A0C10;
    color: #FFFFFF;
}
a{
    color: #FFFFFF;
}

p,h1,h2,h3,h4,h5,h6{
    padding: 0 !important;
    margin: 0 !important;
}

.btn-solid{
    background: linear-gradient(139.35deg, #273A97 -3.05%, #2E46BE 53.21%);
    box-shadow: 0px 0px 30px rgba(49, 69, 171, 0.6);
    border-radius: 4px;
    border: 2px solid transparent;
    transition: 1s all !important;

    &:hover{
        border: 2px solid #2E46BE;
        background: transparent ;
    }
    
}

.btn-outline{
    border: 2px solid #2E46BE;
    box-shadow: 0px 0px 30px rgba(49, 69, 171, 0.6);
    transition: 1s all !important;
    &:hover{
        background: linear-gradient(139.35deg, #273A97 -3.05%, #2E46BE 53.21%);
        box-shadow: 0px 0px 30px rgba(49, 69, 171, 0.6);
        border-radius: 4px;
        border: 2px solid transparent;
    }
}

.scroll-header{
    background-color: #0A0C10 !important;
}


.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    .navbar-brand{
        font-weight: 800;
        font-size: 24px;
    }

    .navbar-nav{
        li{
            font-size: 16px;
            font-weight: 500;
            
            .active{
                font-weight: 600;
            }
        }
       
    }
}

.home-section{

    margin-top: 100px;
    .data{
        h1{
            font-weight: 700;
            font-size: 64px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.005em;

            color: #FFFFFF;

            opacity: 0.6;
        }

        
    }
    .img-fluid{
        
         @media screen and (min-width:765px ){
           margin-top: -200px; 
        }
        

    }

    .categories{


        .active{
            color: #273A97;
            font-size: 16px;
            font-weight: 600;
            background-color: #FFFFFF;
            border-radius: 4px 0 0 0;
        }
        .no-active{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            background-color: #ffffff40;
            border-radius: 0 4px 0 0;
        }
    }

    .looking-property{

        .dropdown-toggle::after{
            display: none;
        }
        hr{
            width: 1px;
            height: auto;
            background-color: #0A0C10;
        }
        .btn-linear{    
            font-size: 20px;
            font-weight: 500;
            color: #FFFFFF;
            @include linear();
        }
    }
    .trust-element{
        .data{
            h1{
                font-size: 48px;

                span{
                    color: #F96C0C;
                }
            }
        }
    }

    .scroll-down{
        position: absolute;
        display: block;
        bottom: 50px;
        left: 50%;
        // left: 0;
        margin-left: -70px;
        z-index: 10;
        transform: translateY(-150px);
        animation: bounce 1s infinite;

        @keyframes bounce {
            0% {bottom:50px;}
            50% {bottom: 30px;}
            // 75% {bottom:-5px;}
            100% {bottom:50px;}
        }
    }
}

.popular-section{
    background: #101010;
    h1{
        font-weight: 700;
        font-size: 48px;
    }
    .container{
        background-image: url('../img/bgsec2.png');
    background-repeat: no-repeat;
    }
    
    .swiper-togle{
        
        .swiper-button-prev, 
        .swiper-button-next{
            width: 56px;
            height: 56px;
            position: relative;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 10px 15px rgba(151, 151, 151, 0.08);
            border-radius: 4px;
            transition: .2s all;
            
            &::after{
                content: '';
            }

            &:hover{
                border: 2px solid #5F76E7;
                box-shadow: 0px 0px 24px rgba(75, 98, 214, 0.4), 0px 10px 15px rgba(151, 151, 151, 0.08);
            }

            i{
                font-size: 32px;
                color: #FFFFFF;
            }
        }
    }

    .popularslide{
        .card{
            background: rgba(255, 255, 255, 0.15) !important;
            backdrop-filter: blur(60px);

            border-radius: 4px;
            transition: .4s;
            
            

            &:hover{
                transform: scale(1.1);
                margin-left: 20px;
            }
        }
    }
}

.about-us{
    background-image: url('../img/aboutus-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
    .data{
        
        h6{
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;

            letter-spacing: 0.005em;

            color: #FFFFFF;

            opacity: 0.6;
        }
        h1{
            font-weight: 700;
            font-size: 48px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.005em;

            color: #FFFFFF;

            opacity: 0.6;
        }
    }

}

.contact{
    background: #101010;
    .data{
        .d-flex{
            h6{
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
    
                letter-spacing: 0.005em;
    
                color: #FFFFFF;
    
                opacity: 0.6;
            }
            h1{
                font-weight: 700;
                font-size: 48px;
            }
            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.005em;
    
                color: #FFFFFF;
    
                opacity: 0.6;
            }

        }
        .form-contact{
            margin-top: 80px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;

            a{
                width: 181px;
            }

            

        }
    }
}

footer{
    .col-lg-4{
        p{
            letter-spacing: 0.005em;
            color: #FFFFFF;
            opacity: 0.6;

        }
    }
    .col-lg-2{
        h6{
            background: linear-gradient(140.33deg, #FFA368 -13.01%, #F96C0C 106.01%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        a{
            transition: .4s;
            &:hover{
                background: linear-gradient(140.33deg, #FFA368 -13.01%, #F96C0C 106.01%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
    .copy{
        letter-spacing: 0.005em;
        color: #FFFFFF;
        opacity: 0.6;
        
        a{
            transition: .4s;
            &:hover{
                background: linear-gradient(140.33deg, #FFA368 -13.01%, #F96C0C 106.01%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}